*{
	margin: 0;
	padding: 0;
	position: relative;

}
.preloader{
	background-color: #16a596;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader{
	width: 80px;
	display: flex;
	flex-wrap: wrap;
	animation: p_loader 4s linear infinite;
}
@keyframes p_loader{
	100%{
		transform: rotate(360deg);
	}
}
.loader span{
	width: 30px;
	height: 30px;
	
	margin: 5px;
	animation: prodip 1s linear infinite;
}
@keyframes prodip{
	50%{
		transform: scale(1.2);
	}
}
.loader span:nth-child(1){
	border-radius: 50% 50% 0 50%;
	background-color: #f3eac2;
	animation-delay: 0.3s;
}
.loader span:nth-child(2){
	border-radius: 50% 50% 50% 0;
	background-color: #f4abc4;
	animation-delay: 0.5s;
}
.loader span:nth-child(3){
	border-radius:  50% 0 50% 50% ;
	background-color: #6a097d;
	animation-delay: 0.8s;
}
.loader span:nth-child(4){
	border-radius:  0 50%  50% 50% ;
	background-color: #d7385e;
}